html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  margin: 10;
}

.content-box {
  background-color: rgba(150, 15, 0, 1);
  border-radius: 16px;
  padding: 1rem 1rem;
  max-width: 800px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 10;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  gap: 25rem;
  text-align: center;
  background-color: #0000;
  margin: 10;

  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    padding: 1rem;
    margin: 10;
    background-color: rgba(150, 15, 0, 1);
    border-radius: 16px;
    padding: 1rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}

a:link {
  color: #ffff;
}

a:visited {
  color: #ffff;
}

footer {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
  header nav ul {
    flex-direction: column;
  }
}
