#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
  background-image: url('/images/spfc.jpg');
}
